/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

/* Background Colours */
$bg: #FCFCFC;

/* Text Colours */
$dark-text: #1A1921;
$medium-text: #3F3D56;
$light-text: #65617D;

/* Theme Colours */
$blue: #4C75F2;
$noir: #1A1921;

/* Misc Settings */
$button-radius: 8px;
